body {

	position: absolute;
	width: 100%;
	height:100%;
	margin: 0;
	padding: 0;
/*	max-height: 100%;*/
	/*overflow: none;*/
	min-width: 1600px;
	min-height: 900px;
}

#bg {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: linear-gradient(rgba(1,54,92,0.3), rgba(1,54,92,0.3)),
			url("images/home/water.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

#title {
	position: relative;
	top: 60px;
	left: 12%; right:0;
	height: auto;
	width: 700px;
}
	
	#title h1 {
		font: 90px 'Rock Salt', cursive; 
		color: white;
		letter-spacing: 2px;
		text-shadow: 1px 0px 1px #C0210F;
		/*text-shadow: 0px 3px 3px #494949;*/
	}

	#title h2 {
		font-family: 'Indie Flower', cursive;
		font-size: 55px;
		text-decoration: none;
    	text-transform: uppercase;
    	font-weight: bold;

		color: white;
		letter-spacing: 2px;
		text-shadow: 1px 0px 1px #C0210F;
		margin-top: -60px;
		padding-left: 350px;




	}

/*---------------------LINKS----------------------*/

.links {
	/*margin: 1em auto;*/
	margin:0; padding: 0;
	margin-top: 8%;
	margin-left: 40%;
	width:950px;
	/*text-align: center;*/
	/*position: relative;*/
	bottom: 10%; 

}

.links li {
	border: 0;
	display: inline-block;
	margin: 1em;
	width: 200px;


}

.links img {
	display: block;
	height: 170px;
	width: 170px;
	
	/*max-width: 100%;*/
}

.links figure {
	height: 140px;
	overflow: hidden;
	position: relative;
	width: 140px;
	border-radius: 100%;
}

.links figcaption {
	/*background: rgba(192, 33, 15,0.9);*/
	text-align: center;
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
}

.links li:hover figcaption {
	opacity: 1;
}

/*zoom on image*/
.links img {
	display: block;
	height: auto;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	max-width: 100%;
}

.links li:hover img {
	-webkit-transform: scale(1.4);
	-moz-transform: scale(1.4);
	transform: scale(1.4);
}

/*Drop incaption*/
.links figcaption p {
	display: table-cell;
	font-size: 1.5em;
	position: relative;
	top: -40px;
	width: 289px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
	vertical-align: middle;
}

.links li:hover figcaption p {
	-moz-transform: translateY(40px);
	-webkit-transform: translateY(40px);
	transform: translateY(40px);
}

/*Fade in caption*/
.links figcaption {
	background: rgba(1,54,92,0.6);
	color: white;
	display: table;
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	right: 0;
	top: 0;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;
	z-index: 100;
}

